.card {
  margin: 20px;
  width: 18rem;
  background-color: rgba(240, 248, 255, 0.288);
  backdrop-filter: blur(3px);
  color: rgb(20, 19, 19);
  border: .5px solid aliceblue;
  border-radius: 2rem;
  -webkit-box-shadow: 6px 0px 36px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 0px 36px -7px rgba(0,0,0,0.75);
  box-shadow: 6px 0px 36px -7px rgba(0,0,0,0.75);
}

.card:hover { 
  transform: scale(1.10);
}


.card-title {
  text-align: center;
  font-size: 2rem;
}

.card-temp {
  margin-bottom: 10px 0;
  text-align: center;
  font-size: 2rem;
}

.country {
  font-size: 1rem;
  margin-left: .5rem;
}

.card-subtitle {
  margin: 10px 0;
  text-align: center;
  font-size: 1.3rem;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}


.boton {
  color: rgb(75, 77, 78);
}

