@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #548CA8;
  background-image: url('./mathew-schwartz-GNSRazeH00I-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gowun Dodum', sans-serif;
}


